<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生成绩曲线图</title>
    <!-- 引入 Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .but-back {
            display: flex;
            justify-content: flex-end;
        }
    </style>
</head>
<body>
<div style="width: 80%; margin: auto;">
    <h2 th:text="${student.name} + '的成绩曲线图'"></h2>
    <button class="but-back" onclick="goBack()">返回</button>
    <!-- 用于渲染曲线图的 Canvas -->
    <canvas id="myChart" width="400" height="200"></canvas>
</div>
<div id="studentData" th:text="${student.scores}" style="display:none;"></div>
<script th:inline="javascript">
    function goBack() {
        window.history.back();
    }
    // 假设以下是学生成绩数据，实际中应该从后端获取
    var dataString = document.getElementById('studentData').textContent;
    var studentData = JSON.parse(dataString);
    var labels = [];
    var data = [];
    for (var i = 0; i < studentData.length; i++) {
        var dateObject = new Date(studentData[i].examTime);
        var year = dateObject.getFullYear();
        var month = ('0' + (dateObject.getMonth() + 1)).slice(-2);
        var day = ('0' + dateObject.getDate()).slice(-2);
        var formattedDate = year + '-' + month + '-' + day;
        labels[i] = formattedDate;
        data[i] = studentData[i].score;
    }
    console.log(labels);
    console.log(data);
    // 创建曲线图
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: '考试成绩:',
                data: data,
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 2,
                fill: false
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    max: 100
                }
            }
        }
    });
</script>
</body>
</html>
